<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xavier.daigoufyp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".controller.DagiouFypApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.page.login.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.page.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".controller.page.home.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.page.product.NewProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.page.product.NewProductAttributeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.page.product.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.page.product.ProductConfirmBuyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.page.shop.NewShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.page.shop.ShopDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.page.FullScreenPictureActivity" />
        <activity
            android:name=".utils.GalleryUtil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.CameraUtil"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider210565352639860"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="daigou.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.clp.consumer.model.Country, com.clp.consumer.model.Category" />

        <service
            android:name=".controller.network.DaigouFypSerivce"
            android:exported="false" />

    </application>

</manifest>